.packing-item{

    display:flex;

    align-items:center;

    gap:14px;

    padding:12px 0;

}

.packing-item input{

    width:20px;

    height:20px;

    cursor:pointer;

}

.packing-item span{

    font-size:16px;

}

.completed{

    text-decoration:line-through;

    opacity:.55;

}